/* Reset de base */
* {
  margin: 0;
  padding: 0;
}

/* Body */
body {
display: flex;
}

/* Titre */
h1 {
  text-align: center;
  margin: 20px 0;
}

/* Container */
.container {

}

/* Section Pokémon */
.pokemon-list {
width: 30%;
}

/* Card Pokémon */
.pokemon-card {

}


/* Pokemon detail */
.pokemon-detail {

}